extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 

        include ../../partials/list-btn-users.pug

        .row 
            .col-12 
                +box-head("Chat")

        .row 
            .col-12 
                .chat(my-id=user.id) 
                    //- .inner-head     
                    //- .inner-avatar EY 
                    //- .inner-name Em 
                    .inner-body 
                        each chat in chats
                            div(class=(chat.infoUser.id == user.id ? "inner-outgoing" : "inner-incoming"))
                                if(chat.infoUser.id != user.id)
                                    .inner-name #{chat.infoUser.fullName}
                                .inner-content #{chat.content}
                            
                        div(class="inner-list-typing")


                    .inner-foot 
                        form(
                            class="inner-form"
                            action=""
                        )
                            input(
                                type="text"
                                placeholder="Nhập nội dung..."
                                name="content"
                                autocomplete="off"
                            )
                            //- div.custom-file-container(data-upload-id="upload-image")
                            //-     label Upload Your Images
                            //-     input.custom-file-container__custom-file__custom-file-input(type="file" accept="image/*" multiple)
                            //-     label.custom-file-container__custom-file__custom-file-control
                            //-     div.custom-file-container__image-preview

                            span(class="button-icon btn btn-light mx-2") <i class="fa-regular fa-face-smile"></i>
                            //- div(class="custom-file-container" data-upload-id="upload-image")
                            button
                                i.fa-solid.fa-paper-plane


    div(class="tooltip" role="tooltip")                   
        emoji-picker(class="light")


    

    
